<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Configuración del perfil</h3>
    </div>
  </div>

  <!-- div para cambio de contraseñas --><!-- div para cambio de contraseñas -->
  <!-- div para cambio de contraseñas --><!-- div para cambio de contraseñas -->
  <div class="row">
    <!-- cambio de contraseñas --><!-- cambio de contraseñas --><!-- cambio de contraseñas -->
    <!-- cambio de contraseñas --><!-- cambio de contraseñas --><!-- cambio de contraseñas -->
    <div class="col-md-6">
      <h3>Configuración de contraseña</h3>
      <div class="input-group">
        <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
        <input required ng-model="datosUsuario.usuario" type="text" class="form-control" placeholder="Usuario" aria-describedby="sizing-addon1">
      </div>
      <br>
      <div class="input-group">
        <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-lock" aria-hidden="true"></i></span>
        <input required ng-model="datosUsuario.password" type="password" class="form-control" placeholder="Contraseña" aria-describedby="sizing-addon1">
      </div>
    </div>

    <div class="col-md-6">
      <h3>Configuración de direcciones</h3>
      <div class="input-group">
        <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-globe" aria-hidden="true"></i></span>
        <input required ng-model="actualizarPass.name" type="text" class="form-control" placeholder="Usuario" aria-describedby="sizing-addon1">
      </div>
    </div>
  </div>

</div>
