<div class="container">
  <br>
  <div class="row">
    <div class="col-md-4">
      <form>
        <fieldset style="margin-bottom:6%;">
          <legend>Cargar una estampa</legend>
          <br>
          <div class="">
            <label>Vista previa</label>
            <img src="{{estampaNueva.urlimagen}}" alt="" class="img-responsive">
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-user-plus" aria-hidden="true"></i></span>
            <input required ng-model="estampaNueva.nombre" type="text" class="form-control" placeholder="Nombre" aria-describedby="sizing-addon1">
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-user-plus" aria-hidden="true"></i></span>
            <input required ng-model="estampaNueva.valor" type="text" class="form-control" placeholder="Precio" aria-describedby="sizing-addon1">
          </div>
          <br>
          <div class="input-group">
            <textarea required name="name" placeholder="descripcion" class="form-control" cols="50"></textarea>
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-user-plus" aria-hidden="true"></i></span>
            <input required ng-model="estampaNueva.urlimagen" type="text" class="form-control" placeholder="Url de la imagen" aria-describedby="sizing-addon1">
          </div>
          <br>
            <select class="form-control" ng-model="estampaNueva.tema">
              <option value="">Tema</option>
              <option value="1">Religión</option>
              <option value="2">Música</option>
              <option value="3">Sentimientos</option>
            </select>
            <br>
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-user-plus" aria-hidden="true"></i></span>
              <input disabled required ng-model="estampaNueva.autor" type="text" class="form-control" placeholder="Autor" aria-describedby="sizing-addon1">
            </div>
            <br>
            <div class="col-md-12">
              <input type="submit" value="Guardar estampa" class="btn btn-success btn-block">
            </div>
        </fieldset>
      </form>
    </div>
    <div class="col-md-8">
      <fieldset>
        <legend>Tus estampas</legend>
        <div class="table-responsive">
     			<table class="table table-hover table-bordered" >
     				<thead>
     					<th>Estampa</th>
     					<th>Nombre</th>
     					<th>Valor</th>
              <th>Descripción</th>
              <th>Tema</th>
              <th>Rating</th>
              <th>Editar</th>
     				</thead>
     				<tbody>
               <tr ng-repeat="estampa in estampasArtista">
                 <td>
                   <img src="{{estampa.urlimagen}}" class="img-responsive">
                 </td>
                 <td>{{estampa.nombre}}</td>
                 <td>{{estampa.valor}}</td>
                 <td>{{estampa.descripcion}}</td>
                 <td>{{estampa.tema==1 ? "Musica":"Sentimientos"}}</td>
                 <td>{{estampa.rating}}</td>
                 <td>
                   <button type="button" class="btn btn-info zoom" ng-click=""><i class="fa fa-pencil" aria-hidden="true"></i></button>
     						 </td>
     					</tr>
     				</tbody>
     			</table>
     		</div>
      </fieldset>
    </div>
  </div>
</div>
