<!-- banner-bottom -->
<!-- products -->
<div class="products">
  <!-- container -->
  <div class="container">
    <div class="products-heading">
      <h3>Camisetas disponibles</h3>
    </div>
    <div class="products-grids">
      <div class="col-md-3 animated bounceIn" style="background-color:rgba(215, 44, 44, 0.3);border-radius:5px;padding:3%;">
        <h4>Estampa seleccionada</h4>
        <img src="{{estampaSeleccionada.urlImagen}}"  width="300" height="350" class="img-responsive">
        <p>{{estampaSeleccionada.nombre}}</p>
        <p>{{estampaSeleccionada.valor | currency}}</p>
        <p>{{estampaSeleccionada.descripcion}}</p>
        <button type="button" name="button" class="btn btn-warning btn-block" ng-click="volverASeleccion();"> <i class="fa fa-arrow-left" aria-hidden="true"></i> Volver a seleccionar </button>
      </div>


      <div class="col-md-3 product-left-grid" ng-repeat="camisa in listaCamisas">
        <div class="product-grid  animated bounceInUp">
          <div class="product-grid-text">
            <a ng-click="verDetalleCamiseta(camisa.camisetaId);"><img src="{{camisa.urlImagen}}" alt="" width="300" height="350"/></a>
            <div class="products-grid-info">
              <h3>{{camisa.nombre}}</h3>
              <p>{{camisa.descripcion}}</p>
              <div class="price col-md-12" style="text-align:center;">
                <p>{{camisa.valor | currency}}</p>
              </div>
              <div class="col-md-12">
                <br>
                <label>Seleccione color</label>
                <br>
                <span class="cuadradosRojo col-md-4 espacioColores"></span>
                <span class="cuadradosAzul col-md-4 espacioColores"></span>
                <span class="cuadradosVerde col-md-4 espacioColores"></span>

                <span class="cuadradosGrises col-md-4 espacioColores"></span>
                <span class="cuadradosNegro col-md-4 espacioColores"></span>
                <span class="cuadradosColor col-md-4 espacioColores"></span>

                <span class="cuadradosColorUno col-md-4 espacioColores"></span>
                <span class="cuadradosColorDos col-md-4 espacioColores"></span>
              </div>
              <div class="col-md-12" style="padding-top:5px;">
                <label>Talla</label>
                <span class="cuadradosTalla">XS</span>
                <span class="cuadradosTalla">S</span>
                <span class="cuadradosTalla">M</span>
                <span class="cuadradosTalla">L</span>
                <span class="cuadradosTalla">XL</span>
                <span class="cuadradosTalla">XXL</span>
              </div>
              <div class="col-md-12">
                <button type="button" name="button" class="btn btn-primary btn-block" ng-click="verDetalleCamiseta(camisa.camisetaId);">¡Elegir!</button>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
        </div>
      </div>



      <div class="clearfix"> </div>
    </div>
  </div>
  <!-- //container -->
</div>
<!-- // products -->
<!-- products-bottom -->
<div class="products-bottom">
  <!-- container -->
  <div class="container">
    <div class="col-md-3 products-bottom-left">
      <h3>Biruang <span>Free PSD</span></h3>
      <p>NEQUE PORRO
        ERIKE SUPERUS DA
        DOLOREM IPSUM
        GOOD LUCK
      </p>
      <div class="social-icons">
        <ul>
          <li><a href="#" class="facebook"></a></li>
          <li><a href="#" class="twitter"></a></li>
          <li><a href="#" class="chrome"></a></li>
          <li><a href="#" class="vimeo"></a></li>
          <li><a href="#" class="rss"></a></li>
      </div>
    </div>
    <div class="col-md-5">
      <div class="products-bottom-middle">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dictum lectus
          sit amet varius pulvinar. Proin vitae dui tincidunt nibh facilisis pellentesque.
          Fusce tortor turpis, facilisis ut condimentum eu, sagittis at est.

          <span>Praesent egestas posuere urna a egestas. Maecenas facilisis orci vitae ante
          tempor accumsan. Aenean aliquam justo ac sagittis vehicula. Nam mattis
          pretium odio sit amet vulputate.
          </span>

          Quisque non lobortis orci. Morbi augue mauris, ultrices at fermentum ac,
          consequat vitae magna. Pellentesque non cursus mi, eu cursus nunc. Nullam
           et odio tristique, volutpat urna vitae, dignissim orci. Fusce eu nulla urna.
          This template was created by Erik Padamans.
        </p>
      </div>
    </div>
    <div class="col-md-4 map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.9513039009325!2d-74.06705148570501!3d4.602743596656232!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f99bcb0c71f5b%3A0xcb6030026ed7246a!2sEdificio+Mario+Laserna%2C+Bogot%C3%A1!5e0!3m2!1ses!2sco!4v1489606245459" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      <div class="location">
        <p>Fabrisetas</p>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>
  <!-- //container-->
</div>
<!-- //products-bottom -->
<!-- sign-up -->
<div class="sign-up">
  <!-- container -->
  <div class="container">
    <div class="sign-up-left">
      <p><span>Sign up</span> for exclusive sales and product news</p>
    </div>
    <div class="sign-up-right">
      <form>
        <input type="text" value="eony321v@gmail.com" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'eony321v@gmail.com';}" required="">
        <input type="submit" value="sign up">
      </form>
    </div>
    <div class="clearfix"> </div>
  </div>
