<div class="container">
  <div class="row">
    <div class="products-heading" style="margin-bottom:2%;">
      <h3 ng-repeat="theme in temas  | filter:{temaId:titulo}">Estampas de {{theme.nombre}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="col-md-12" id="otrosTemas">
        <h2>Nuestros temas</h2>
        <img src="images/tienda_temas.png" alt="" class="img-responsive" style="margin-top:2%;">
        <ul>
          <li ng-repeat="theme in temas">
            <a href="#!/categoria-estampas/{{theme.temaId}}">{{theme.nombre}}</a>
          </li>
        </ul>
      </div>

      <div class="col-md-12" id="otrosTemas">
        <h2>Filtrar por</h2>
          <div class="form-group">
            <label class="col-md-12 control-label">Nombre</label>
              <div class="col-md-12">
                <input id="nombre" ng-model="nombre" type="text" placeholder="Nombre" class="form-control input-md">
              </div>
          </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="col-md-4 product-left-grid" ng-repeat="stamp in estampasTema | filter:{$:nombre} | orderBy:'autor' ">
        <div class="product-grid">
          <div class="product-grid-text">
            <a href="#!/ver-stamp/{{stamp.estampaId}}"><img src="{{stamp.urlImagen}}" alt="" width="300" height="350"/></a>
            <div class="products-grid-info">
              <h3>{{stamp.nombre}}</h3>
              <h4>Rating: {{stamp.rating}}</h4>
              <p>{{stamp.descripcion}}</p>
              <p> <strong> <a href="#!/navegar-autor/{{stamp.autor}}">Autor: {{stamp.autor}} </a></strong> </p>
              <div class="price">
                <p>{{stamp.valor | currency}}</p>
              </div>
              <div class="like">
                <a href="#"><img src="images/like.png" alt="" /></a>
              </div>
              <div class="clearfix"> </div>
            </div>
            <div class="plus">
              <a href="#!/ver-stamp/{{stamp.estampaId}}"><img src="images/plus.png" alt="" /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
