<div class="container">
  <div class="row">
    <form ng-submit="">
      <div class="col-md-6">
        <fieldset>
          <legend>Selecciona un medio de pago</legend>
          <div class="col-md-4 divMediosPago" ng-class="bancaria">
            <img src="images/transferencia-bancaria.png" class="img-responsive img-mediosPago" ng-click="bancaria='divMediosPagoSeleccionado';credito='';efectivo='';efecty=''">
            <label>Pago por transferencia bancaria</label>
          </div>
          <div class="col-md-4 divMediosPago" ng-class="credito">
            <img src="images/tarjetas-de-credito.jpg" class="img-responsive img-mediosPago" ng-click="bancaria='';credito='divMediosPagoSeleccionado';efectivo='';efecty=''">
            <label>Pago con tarjeta de crédito</label>
          </div>
          <div class="col-md-4 divMediosPago" ng-class="efectivo">
            <img src="images/efectivo.jpg" class="img-responsive img-mediosPago" ng-click="bancaria='';credito='';efectivo='divMediosPagoSeleccionado';efecty=''">
            <label>Pago contra entrega</label>
          </div>
          <div class="col-md-4 divMediosPago" ng-class="efecty">
            <img src="images/efecty.png" class="img-responsive img-mediosPago" ng-click="bancaria='';credito='';efectivo='';efecty='divMediosPagoSeleccionado'">
            <label>Pago en efecty</label>
          </div>
        </fieldset>
      </div>
      <div class="col-md-6">
        <fieldset>
          <legend>Selecciona tus datos de envío</legend>
          <div class="form-group">
            <div class="col-md-12">
              <select required  ng-model="direccion" class="form-control">
                <option value="1">Usar direccion registrada</option>
                <option value="2">Registrar nueva dirección</option>
              </select>
              <br><br>
            </div>
            <div class="col-md-12" ng-if="direccion==1">
              <div class="input-group">
                <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-user" aria-hidden="true"></i></span>
                <input disabled required  ng-model="datosUsuario.nombre" type="text" class="form-control" placeholder="Email" aria-describedby="sizing-addon1">
              </div>
              <div class="input-group">
                <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-road" aria-hidden="true"></i></span>
                <input disabled required  ng-model="datosUsuario.direccion" type="text" class="form-control" placeholder="Email" aria-describedby="sizing-addon1">
              </div>
            </div>

            <!--  espacio para crear direcciones --><!--  espacio para crear direcciones --><!--  espacio para crear direcciones -->
            <!--  espacio para crear direcciones --><!--  espacio para crear direcciones --><!--  espacio para crear direcciones -->
            <div class="col-md-12" ng-if="direccion==2">

              <select required  ng-model="direccion.pais" class="form-control">
                <option value="">Pais</option>
                <option value="Colombia">Colombia</option>
                <option value="Argentina">Argentina</option>
              </select>
              <br>
              <select required  ng-model="direccion.departamento" class="form-control">
                <option value="">Departamento</option>
                <option value="Bogotá DC" selected>Bogotá DC</option>
                <option value="2">Otro</option>
              </select>
              <br>
              <select required  ng-model="direccion.ciudad" class="form-control">
                <option value="">Ciudad</option>
                <option value="Bogota" selected>Bogota</option>
                <option value="2">Otro</option>
              </select>
              <br>
              <div class="input-group">
                <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-street-view" aria-hidden="true"></i></span>
                <input required  ng-model="direccion.direccion" type="text" class="form-control" placeholder="Direccion" aria-describedby="sizing-addon1">
              </div>
            </div>

            <!-- datos de lacompra fijos --><!-- datos de lacompra fijos --><!-- datos de lacompra fijos --><!-- datos de lacompra fijos -->
            <!-- datos de lacompra fijos --><!-- datos de lacompra fijos --><!-- datos de lacompra fijos -->
            <div class="col-md-12">
              <h2>Detalles de la compra</h2>
              <label>Items:</label>
            </div>
            <div class="col-md-6">
              <p>{{camisetaSeleccionada.nombre}}</p>
              <p>{{estampaSeleccionada.nombre}}</p>
              <hr>
              <p><strong>Total: </strong></p>
            </div>
            <div class="col-md-6">
              <p>{{camisetaSeleccionada.valor | currency }}</p>
              <p>{{estampaSeleccionada.valor | currency }}</p>
              <hr>
              <p>{{total | currency }}</p>
            </div>
          </div>
          <div class="col-md-12">
            <button type="button" name="button" class="btn btn-success btn-block">Realizar pago</button>
          </div>
        </fieldset>
      </div>
    </form>
  </div>
</div>
