<!-- //header -->
<!-- single -->

<div class="single">
  <!-- container -->
  <div class="container">
    <div class="row"  style="background-color:white;">
      <div class="col-md-12" style="text-align:center;">
        <h2>Detalles de la prenda</h2>
        <hr>
      </div>
      <div class="col-md-12">
        <div class="col-md-4 animated bounceInLeft" >
          <h3>Estampa seleccionada</h3>
          <img id = "estampaSeleccionada" src="{{estampaSeleccionada.urlImagen}}"  width="300" height="350" class="img-responsive">
          <p>{{estampaSeleccionada.nombre}}</p>
          <p>{{estampaSeleccionada.valor | currency}}</p>
          <p>{{estampaSeleccionada.descripcion}}</p>
        </div>
        <div class="col-md-4 animated bounceInLeft">
          <h3>Camisa seleccionada</h3>
          <img id = "camisaSeleccionada" width="300" height="350" src="{{camisetaSeleccionada.urlImagen}}" class="img-responsive">
          <p>{{camisetaSeleccionada.nombre}}</p>
          <p>{{camisetaSeleccionada.valor | currency}}</p>
          <p>{{camisetaSeleccionada.descripcion}}</p>
          <div class="col-md-12">
            <br>
            <label>Seleccione color</label>
            <br>
            <span class="cuadradosRojo col-md-4 espacioColores" ng-click="seleccionColor('Rojo');"></span>
            <span class="cuadradosAzul col-md-4 espacioColores" ng-click="seleccionColor('Azul');"></span>
            <span class="cuadradosVerde col-md-4 espacioColores" ng-click="seleccionColor('Verde');"></span>

            <span class="cuadradosGrises col-md-4 espacioColores" ng-click="seleccionColor('Gris');"></span>
            <span class="cuadradosNegro col-md-4 espacioColores" ng-click="seleccionColor('Negro');"></span>
            <span class="cuadradosColor col-md-4 espacioColores" ng-click="seleccionColor('Color 0');"></span>

            <span class="cuadradosColorUno col-md-4 espacioColores" ng-click="seleccionColor('Color 1');"></span>
            <span class="cuadradosColorDos col-md-4 espacioColores" ng-click="seleccionColor('Color 2');"></span>
          </div>
          <div class="col-md-12" style="padding-top:5px;">
            <br>
            <label>Seleccione talla</label>
            <br>
            <span class="cuadradosTalla" ng-click="seleccionTalla('XS');">XS</span>
            <span class="cuadradosTalla" ng-click="seleccionTalla('S');">S</span>
            <span class="cuadradosTalla" ng-click="seleccionTalla('M');">M</span>
            <span class="cuadradosTalla" ng-click="seleccionTalla('L');">L</span>
            <span class="cuadradosTalla" ng-click="seleccionTalla('XL');">XL</span>
            <span class="cuadradosTalla" ng-click="seleccionTalla('XXL');">XXL</span>
          </div>
        </div>
        <div class="col-md-4 animated bounceInLeft">
          <div class="col-md-12">
            <h2>Detalles de la compra</h2>
            <label>Items:</label>
          </div>
          <div class="col-md-6">
            <p>{{camisetaSeleccionada.nombre}}</p>
            <p>{{estampaSeleccionada.nombre}}</p>
            <hr>
            <p><strong>Total: </strong></p>
          </div>
          <div class="col-md-6">
            <p>{{camisetaSeleccionada.valor | currency }}</p>
            <p>{{estampaSeleccionada.valor | currency }}</p>
            <hr>
            <p>{{total | currency }}</p>
          </div>
          <div class="col-md-12 animated bounceInDown">
              <button type="button" name="button" class="btn btn-info btn-block" ng-click="agregarCarrito();"><i class="fa fa-shopping-cart" aria-hidden="true"> Agregar al carrito</i></button>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-md-offset-4 animated bounceInLeft">
          <h3>Resultado</h3>
          <h4>*** Talla:{{talla}} ***</h4>
          <h4>*** Color:{{color}} ***</h4>
        <canvas id="canvas"></canvas>
      </div>
      <div class="col-md-12 animated bounceInDown">
        <button type="button" name="button" class="btn btn-warning btn-block" ng-click="descartar();"> <i class="fa fa-arrow-left" aria-hidden="true"></i> Descartar prenda </button>
      </div>
    </div>
  </div>
</div>

<!-- //footer -->
