<div id="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-5 animated bounceInUp">
        <fieldset class="login">
          <form ng-submit="crearUsuario();">
            <h3>Formulario de registro</h3>
            <br>
            <label>Datos personales</label>
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-user-plus" aria-hidden="true"></i></span>
              <input required ng-model="usuarioNuevo.nombre" type="text" class="form-control" placeholder="Nombre" aria-describedby="sizing-addon1">
            </div>
            <br>
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-envelope" aria-hidden="true"></i></span>
              <input required  ng-model="usuarioNuevo.identificacion" type="text" class="form-control" placeholder="Email" aria-describedby="sizing-addon1">
            </div>
            <br>
            <select required  ng-model="usuarioNuevo.direccion.pais" class="form-control">
              <option value="">Pais</option>
              <option value="Colombia">Colombia</option>
              <option value="Argentina">Argentina</option>
            </select>
            <br>
            <select required  ng-model="usuarioNuevo.direccion.departamento" class="form-control">
              <option value="">Departamento</option>
              <option value="Bogotá DC" selected>Bogotá DC</option>
              <option value="2">Otro</option>
            </select>
            <br>
            <select required  ng-model="usuarioNuevo.direccion.ciudad" class="form-control">
              <option value="">Ciudad</option>
              <option value="Bogota" selected>Bogota</option>
              <option value="2">Otro</option>
            </select>
            <br>
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-street-view" aria-hidden="true"></i></span>
              <input required  ng-model="usuarioNuevo.direccion.direccion" type="text" class="form-control" placeholder="Direccion" aria-describedby="sizing-addon1">
            </div>
<br>
            <label>Datos de inicio de sesión</label>
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-user" aria-hidden="true"></i></span>
              <input required  ng-model="usuarioNuevo.login.usuario" type="text" class="form-control" placeholder="Login" aria-describedby="sizing-addon1">
            </div>
            <br>
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
              <input required  ng-model="usuarioNuevo.login.pass" type="password" class="form-control" placeholder="Contraseña" aria-describedby="sizing-addon1">
            </div>
            <br>
            <label>¿Qué tipo de usuario eres?</label>
            <select required  ng-model="usuarioNuevo.tipo" class="form-control">
              <option value="">Selecciona</option>
              <option value="1" selected>Comprador</option>
              <option value="2">Artista</option>
            </select>

            <div class="input-group col-md-12">
              <br>
              <input type="submit" name="" value="Crear usuario" class="btn btn-primary btn-block">
            </div>
          </form>
        </fieldset>
      </div>
      <div class="col-md-6 animated bounceInRight" style="margin-left:2%;">
        <h3>Accede a nuestras mejores estampas</h3>
        <br>
        <img src="http://www.visteadecuadamente.com/imagenes/2009/06/collage2_ligthdesign.jpg" class="img-responsive img-login">
      </div>
    </div>
  </div>
</div>
